<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="WindowsFormsApplication1.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <WindowsFormsApplication1.Properties.Settings>
      <setting name="VDI3805Path" serializeAs="String">
        <value />
      </setting>
      <setting name="DBExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PVGISUrl" serializeAs="String">
        <value>https://re.jrc.ec.europa.eu/api/tmy</value>
      </setting>
      <setting name="AllgemeinPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DBImportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="GeoKodierung" serializeAs="String">
        <value>https://nominatim.openstreetmap.org</value>
      </setting>
      <setting name="DBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>Kenndaten.accdb</value>
      </setting>
      <setting name="WordPressUrl" serializeAs="String">
        <value>https://wiki.epos-plan.de</value>
      </setting>
    </WindowsFormsApplication1.Properties.Settings>
  </userSettings>
</configuration>
